


    <header class="jumbotron my-4 text-center">
        <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                    <h1 class="display-3">Maddy<span>Cakes Bakery!</span></h1><br>
                    <a class="sub-display" href="/"><h6>Atlanta's sweetest destination!</h6></a>
                </h2>
                <p>Founded in 2002 by the Gail Sisters, our establishment has been serving up amazinglyly delicious and custom made cakes and pastries at our little shop in Atlanta. We are dedicated to travelling the world, finding the best treats, and bringing them back to you with our signature style.</p>
                <p class="mb-0">We guarantee that you will fall in <em>lust</em> with our decadent flavors the moment you walk inside until you finish your last bite. Join us for your daily routine, an outing with friends, or a trult special occasion.</p>
              <br>
              <a href="#" class="btn btn-primary btn-sm">Get our Catalog!</a></div>
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <a href="cupcakes"><img class="d-block w-100" src="img/caro1.jpg" alt="Yummy cupcakes!"></a>
            </div>
            <div class="carousel-item">
            <a href="cookies"><img class="d-block w-100" src="img/caro2.jpg" alt="Yummy cookies!"></a>
            </div>
            <a href="muffins"><div class="carousel-item">
            <img class="d-block w-100" src="img/caro3.jpg" alt="Yummy muffins!"></a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
            
            </div>

</header>