<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Maddy Cakes Bakery</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!--Font Awesome for icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <!-- my css -->
    <link href="main.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-sm navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/"><h3>Maddy<span>cakes</span></h3></a>
        
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"><h5>Home</h5>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cupcakes"><h5>Cupcakes</h5></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cookies"><h5>Cookies</h5></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/muffins"><h5>Muffins</h5></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Hero Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4 text-center">
        <h1 class="display-3">Maddy<span>Cakes Bakery!</span></h1><br>
        <a class="sub-display" href="/"><h6>Atlanta's sweetest destination!</h6></a>
        <p class="lead">Welcome to your new favorite! Located in the heart of downtown Altanta,ready to serve you delicious treats! We specialize in custom cupcakes, cookies and muffins for any ocasion. Stop by for a treat.</p>
        <a href="#" class="btn btn-primary btn-sm">Get our Catalog!</a>
      </header>

      <!-- Pages/Categories Features -->
      
      <div class="content row text-center">
          
          

        <!-- card for each -->
             <%= yield %>
        <!-- card for each -->


      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->


 <!-- footer-->


<footer class="container footer-main page-footer font-small blue">
		<div class="text-center text-md-left footie">
			<div class="footer-right">
				<a href="#"><i class="fab fa-facebook-f"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-pinterest-p"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
			</div>
			<div class="footer-left">
        <a href="#"><h3> Maddy<span>cakes</span> </h3></a>
        <hr>
				<p>MaddyCakes Bakers LLC © 2018</p>
			</div>
		</div>
	</footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Bootstrap core JavaScript -->


  </body>

</html>