<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Maddy Cakes Bakery</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- my css -->
    <link href="main.css" rel="stylesheet">

  </head>

  <body>

<div class="wrapper row">
    <div class="header">
    <div class="logo"><a href="https://thefirstyearblog.com"></a></div>
    <nav id="main_nav" class="main-nav">
    <strong>Browse Recipes:</strong>
    <ul id="menu-main-menu" class="mainmenu"><li id="menu-item-21181" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-21181"><a href="/recipe-index#category">By Category</a></li>
    <li id="menu-item-21182" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-21182"><a href="/recipe-index#occasion">By Occasion</a></li>
    <li id="menu-item-21183" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-21183"><a href="/recipe-index#ingredient">By Ingredient</a></li>
    </ul> </nav> 
    <div class="social social-mobile">
    <a href="http://facebook.com/TheFirstYearBlog" title="Facebook" target="_blank" class="icon-facebook"></a>
    <a href="http://instagram.com/beth_thefirstyear" title="Instagram" target="_blank" class="icon-instagram"></a>
    <a href="http://www.pinterest.com/thefirstyear/" title="Pinterest" target="_blank" class="icon-pinterest"></a>
    </div>
    <div class="clear"></div>

    </div>
    </div>


</div><div class="clear"></div>
<div class="footer">
<ul id="menu-footer" class="footernav"><li id="menu-item-21179" class="top menu-item menu-item-type-custom menu-item-object-custom menu-item-21179"><a href="#">^ Top</a></li>
<li id="menu-item-21170" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-21170"><a href="https://thefirstyearblog.com/">Home</a></li>
<li id="menu-item-21171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21171"><a href="https://thefirstyearblog.com/about/">About</a></li>
<li id="menu-item-21173" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21173"><a href="https://thefirstyearblog.com/connect/">Contact</a></li>
<li id="menu-item-21176" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21176"><a href="https://thefirstyearblog.com/recipe-index/">Recipes</a></li>
<li id="menu-item-21172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21172"><a href="https://thefirstyearblog.com/privacy-policy/">Privacy Policy</a></li>
</ul> <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/javascript">
	jQuery(document).ready(function() {
	    var offset = 220;
	    var duration = 500;
	    
	    jQuery('.top').click(function(event) {
	        event.preventDefault();
	        jQuery('html, body').animate({scrollTop: 0}, duration);
	        return false;
	    })
	});
	</script>
<div class="footerright">
<p>Stay Connected:</p>
<form action="https://madmimi.com/signups/subscribe/110220" method="post" target="_blank" class="emailform">
<input type="hidden" name="utf8" value="✓" />
<input type="text" name="signup[email]" class="emailinput" placeholder="enter email address" />
<input type="submit" class="emailsubmit" value="GO" />
</form>
<div class="social">
<a href="/feed/" title="RSS" target="_blank" class="icon-rss"></a>
<a href="http://facebook.com/TheFirstYearBlog" title="Facebook" target="_blank" class="icon-facebook"></a>
<a href="https://twitter.com/FirstYearBlog" title="Twitter" target="_blank" class="icon-twitter"></a>
<a href="http://www.pinterest.com/thefirstyear/" title="Pinterest" target="_blank" class="icon-pinterest"></a>
<a href="http://instagram.com/beth_thefirstyear" title="Instagram" target="_blank" class="icon-instagram"></a>
<a href="https://plus.google.com/u/0/+BethBaumgartner/posts" title="Google+" target="_blank" class="icon-gplus"></a>
</div>
</div>
</div> 
</div> 
<div class="subfooter">
<div id="text-59" class="widget-odd widget-last widget-first widget-1 footerad widget_text"> <div class="textwidget"></div>
</div>
<div class="copyright">&copy;2018 <strong>The First Year</strong>. All Rights Reserved.<br />
<em>Design by <a href="http://www.purrdesign.com" target="_blank">Purr</a>.</em>
</div>
</div>


</body>